## Strings

In [7]:
firstname = "Joel"
lastname = "Oscarsson"

# concatenate strings
name = firstname + " " + lastname    ## "" Lägger till mellanslag
age = 31
address = "Gbg"
phone = "112"


print(name)

# Multiline f-string  den har tre fluff och sedan avsluta med tre fluff fluff

contact = f"""
Name: {name},
Age: {age},
Address: {address},
Phone: {phone}
"""
print(contact)

Joel Oscarsson

Name: Joel Oscarsson,
Age: 31,
Address: Gbg,
Phone: 112

## Zip function, iterate through lists and concatenates(lägga ihop två strängar)

In [14]:
schedule = ["Ai Intro", "Python", "Matte", "Självstudier", "Chilla"]
days = ["Må," "Ti", "On", "Tors", "Fre", "Lör"]

#   \n => Newline
week_plan = "Plan \n"

## Detta är vad vi vill åstadkomma
# Plan 
# Må: Ai Intro
# Ti: Python
#...

for day, task in zip(days, schedule):
    week_plan += f"{day}: {task}\n"      ## \n Ställer upp det snyggare
print(week_plan)

Plan
Må,Ti: Ai Intro
On: Python
Tors: Matte
Fre: Självstudier
Lör: Chilla

## Indexingera med strängar

In [33]:
quote = "!False - it's funny because it's True" # works, note different enkelfnutt/dubbelfnutt 
#quote = '!False - it's funny because it's True' # doesn't work

print(f"quote[0]: {quote[0]}")
print(f"quote[-1]: {quote[-1]}")
print(f"quote[-4:]: {quote[-4:]}")
print(f"quote[1:6]: {quote[1:6]}") # [start:stop-1]
print(f"Backwards quote[::-1]: {quote[::-1]}") # [start:stop-1:step]  ## I listor kan man göra kolonn kolonn -1 för att adressa listans ordning

quote[0]: !
quote[-1]: e
quote[-4:]: True
quote[1:6]: False
Backwards quote[::-1]: eurT s'ti esuaceb ynnuf s'ti - eslaF!

## Split strings

In [30]:
## not possible
## numbers = float(input("Ange tre tal(separerade med kommatecken): "))

numbers = input("Ange tre tal(separerade med kommatecken): ")

# 1. split thte string into a list of 3 strings
# 2. type convert each string into a float by iterating through the list


# När man använder ett kommatecken så splittar man (används som separator)
# detta är även en list comprehension
numbers = [float(number) for number in numbers.split(",")]   ## Man måste typomvandla floaten till en lista ##Typomvandlar varje element.
mean_value = sum(numbers)/len(numbers)

print(f"{numbers=}")
print(f"{mean_value=}")

ValueError: could not convert string to float: '14 4 '

In [31]:
help(str.split)

Help on method_descriptor:

split(self, /, sep=None, maxsplit=-1)
    Return a list of the words in the string, using sep as the delimiter string.

    sep
      The delimiter according which to split the string.
      None (the default value) means split according to any whitespace,
      and discard empty strings from the result.
    maxsplit
      Maximum number of splits to do.
      -1 (the default value) means no limit.

## Regular expression

find particular patterns in a string

e.g. phone numbers, personal numbers, emails ..

In [37]:
import re #Regular expression

text = "Mitt telefonnummer är 021-432567, \
    Adas telefonnummer är 041-414546, Bedas: 0739-231451"

# now i want to extract numbers

match1 = re.findall(r"\d\d\d-\d\d\d\d\d\d", text)   #re.findall letar efter mönster  #\d 
print(match1)
match2 = re.findall(r"\d{3}-\d{6}", text)    # r""  - står för raw string, den ska tolka som det är skrivet och escapar inte characters
print(match2)

['021-432567', '041-414546', '739-231451']
['021-432567', '041-414546', '739-231451']

In [ ]:
import re 

# find all words ending with att
text = "Det var en gång en katt, som tog på sig en hatt, jag blev matt, så jag spelade schack och vann med skolmatt"

match = re.findall(r".att", text)
print(match)