## Count numbers

In [17]:
## Use a for statement to count from:
# A) -10 to 10 with one increment

for i in range(-10, 11):
    print(i, end = "\t")   # end =

-10	-9	-8	-7	-6	-5	-4	-3	-2	-1	0	1	2	3	4	5	6	7	8	9	10

In [36]:
# B) -10 to 10 with two increments

for i in range(-10, 11, 2):   ##Syntax range(start, stop, step)
    print(i, end = "\t")

-10	-8	-6	-4	-2	0	2	4	6	8	10

## Arithmetic sum
Use a for statement to compute the following sums:

a) sum = 1+2+3+4...+99+100

b) sum = 1+3+5...+97+99

In [38]:
sum = 0
for i in range(1,101):
    sum += i
print(sum)

5050

In [40]:
sum = 0
for i in range(1, 101, 2):
    sum += i
print(sum)

2500

## Multiplication table
use for statement(s) to:

a) print out the 6th multiplication from 0 to 10

b) let the user input the table, start and end of the table

c) print out all full multiplication table from 0 to 10.

In [72]:
# Uppgift a)
sum = 6**1

for i in range(0,11,):
    print(sum * i)

0
6
12
18
24
30
36
42
48
54
60

In [80]:
#Uppgift b)

n = int(input("Enter a number you want to multiplicate"))

for i in range(0, 11):
    print(n, "*",i, "=",n*i)

9 * 0 = 0
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [106]:
#Uppgift C)

rows=10 # Multiplication table up to 10 
columns=10 # column values 
for i in range(0,rows+1):
    for j in range(0,columns+1):# inner for loop
        c=i*j
        print("{:2d} ".format(c),end='')
    print("\n")  # line break

 0  0  0  0  0  0  0  0  0  0  0

 0  1  2  3  4  5  6  7  8  9 10

 0  2  4  6  8 10 12 14 16 18 20

 0  3  6  9 12 15 18 21 24 27 30

 0  4  8 12 16 20 24 28 32 36 40

 0  5 10 15 20 25 30 35 40 45 50

 0  6 12 18 24 30 36 42 48 54 60

 0  7 14 21 28 35 42 49 56 63 70

 0  8 16 24 32 40 48 56 64 72 80

 0  9 18 27 36 45 54 63 72 81 90

 0 10 20 30 40 50 60 70 80 90 100

In [107]:
rows=10 # Multiplication table up to 10 
columns=10 # column values 
for i in range(0,rows+1):
    for j in range(0,columns+1):# inner for loop
        c=i*j